:root{ -o-border-image: fill;
    

}
body{
    background-color: white;
    color: #000000;
    font-family: var(fonte-principal);
    font: 50x;
    font-weight: 400;
}
*{
    margin: 0%;
    padding: 0%;
}
.principal{
    background-image: url("IMG\ ADVOCACIA");
    background-repeat: no-repeat;
    background-size: contain;   
    text-align: justify;

}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
